body{
    padding: 20px;
    margin: 10px;
    background-color: rgb(178, 192, 192);
    font-size: 16px;
    line-height: normal;
    min-height: 100vh;
}
.text-center{
    text-align: center;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.pokemonButton{
    background-color: #fff;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border: 1px solid blue;
    box-shadow: antiquewhite;
}
li{
    display: inline;
}