body{
    
    background-color: rgb(195, 150, 206);
    font-size: 16px;
    line-height: normal;
    min-height: 100vh;
}
.navbar{
    background-color:#9c49e9;
}

.pokemonList{

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    
}
.list-group-item{
    background: none;
    border: none;
}
 .btn-secondary{
    background-color: rgb(213, 196, 223);
    padding:20px;
    width: 250px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px rgb(121, 113, 113);
    box-shadow: 0 4px 8px 0 rgba(190, 181, 181, 0.2), 0 6px 20px 0 rgba(187, 182, 182, 0.19);
}
.btn-secondary:hover{
    opacity: 0.5;
}  

/* #loading{
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    animation: spin 2s infinite linear;
    visibility: hidden;
}
#loading.display{
    visibility: visible;
}
@keyframes spin{
    from{ transfrom: rotate(0deg);}
    to{ transform: rotate(360deg);}
} 
 .modal-container{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);
    pointer-events: none;

}
.modal-container.active{
    opacity: 1;
    pointer-events: all;
} */
/* .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    max-width: 900px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    z-index: 20;
} */

/* .modal-header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #9c41f2;
    text-transform: capitalize;
}
.modal-header-title{
    font-size: 1.25rem;
    font-weight: bold;
}
.close-button{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* .pokemon-details{
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
} */
.hide{
    display: none;
}